<!-- Plantilla general para los pies de las páginas -->

<hr>
<footer class="container small">
	<address>
		<p><strong>Instituto Politécnico Nacional<br>Escuela Superior de Cómputo</strong></p>
		<abbr title="Avenida">Av.</abbr> Juan de Dios Bátiz <abbr title="sin número">s/n</abbr> <abbr title="esquina con">esq.</abbr> Av. Miguel Othón de Mendizabal. Colonia Lindavista.<br>
		Demarcación Territorial: Gustavo A. Madero. Ciudad de México. <abbr title="Código postal">C.P.</abbr> 07738.<br>
		<abbr title="Teléfono">Tel.:</abbr> 57296000, <abbr title="Extensión">Ext.</abbr> 46188.
	</address>
	
	<p class="text-justify">Esta página es una obra intelectual protegida por la Ley Federal del Derecho de Autor, puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente completa y su dirección electrónica; su uso para otros fines, requiere autorización previa y por escrito de la Dirección General del Instituto. &reg; 2017</p>
</footer>
