<!-- Plantilla general para la cabecera de las páginas -->

<div class="container-fluid">
	<div class="container-fluid">
		<img src="img/banner_escom.jpg" class="img-responsive center">
	</div>
</div>
<hr>
