# Use this file to set the connection requirements of the MySQL database.

# IMPORTANT: Make sure to rename this file to ".env" so it is properly detected.

# Database configuration
MYSQL_CONNLIM=100	# Test with different numbers, depending on HW specs.
MYSQL_HOST=localhost	# Insert IP address of DB host here.
MYSQL_USER=my_user	# Insert MySQL user name here.
MYSQL_PASS=my_pass	# Insert MySQL user password here.
MYSQL_DB=SEPI		# Any DB name is accepted; "SEPI" is recommended.
