/* CSS file for general bits */

body {
  background-color: #87ceeb;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bg-danger-over {
  background-color: #f2dede !important;
}

.bg-info-over {
  background-color: #d9edf7 !important;
}

.text-justify {
  text-align: justify;
}
