<div class="row">
	<form id="signInForm" class="form-horizontal well col-sm-offset-2 col-sm-8" method="post" action="login" enctype="application/x-www-form-urlencoded">
		<h2 class="col-sm-offset-1">Datos de inicio de sesión</h2>
		
		<div class="form-group">
			<label for="curp" class="col-sm-offset-1 col-sm-2 control-label">CURP</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="curp" name="curp" placeholder="Incluya los 18 caracteres" value="" required>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-8">
				<a href="https://consultas.curp.gob.mx/" target="_blank">¿No recuerda su CURP?</a>
			</div>
		</div>
		
		<div class="form-group">
			<label for="password" class="col-sm-offset-1 col-sm-2 control-label">Contraseña:</label>
			<div class="col-sm-8">
				<input type="password" class="form-control" id="password" name="password" placeholder="Use como mínimo 8 caracteres" value="">
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-10 col-sm-offset-1">
				<div id="msgSpace"></div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-5 col-sm-offset-1">
				<a class="btn btn-default form-control" href="/" role="button">Regresar</a>
			</div>
			<div class="visible-xs-block">&nbsp;</div>
			<div class="col-sm-5">
				<input id="submit" name="submit" type="submit" value="Iniciar sesión" class="btn btn-primary form-control">
			</div>
		</div>
	</form>
</div>
